body{

    background-color: rgb(189, 99, 99);
}
h1{
    color:rgb(201, 167, 234);
    text-align: center;
}
.car{
    
    align-items: center;
    justify-content: center;

}
.sticky{
    position:sticky;
    top:0;
    background-color: white;
}
a{
    color: rgb(18, 164, 218);
}